body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#title1{
    border-style: solid;
    border-color: black;
    background-color: darkslateblue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
    font-size: xx-large;
}

/*fancy bar*/
#bar{
    background-color: lavender;
    margin-top: 50px;
    padding-top: 15px;
    margin-inline-start: 28%;
    margin-inline-end: 28%;
}

/*paragraph title*/
#title2{
    font-size: xx-large;
    text-align: center;
    font-weight: 500;
}

.text{
    margin-inline-start: 30%;
    margin-inline-end: 30%;
    line-height: 1.8;
}

#frog{
position: fixed;
right: 40px;
bottom: 40%;
width: 270px;
}

#caption{
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 0;
}

/*bottom block*/
#bottom{
    border-style: solid;
    border-color: black;
    background-color: darkslateblue;
    padding-top: 100px;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;

}